# Workflows & IDEs
/.github/
/.vscode/
/.idea/

# Test results
/test-reports/
/coverage/

# Source Code
/test/
/src/

# Configs
/docker/
.prettierrc.json
eslint.config.js
tsconfig.base.json
tsconfig.dev.json
tsconfig.json
tsconfig.tsbuildinfo

# Keep
!/lib/
!/lib/**/*.js
!/lib/**/*.d.ts

