# Workflows & IDEs
/.github/
/.vscode/
/.idea/

# Test results
/test-reports/
/coverage/

# Source Code
/test/
/src/

# Configs
/tsconfig.base.json
/tsconfig.dev.json
/tsconfig.json
tsconfig.tsbuildinfo
/eslint.config.js

# Keep
!/lib/
!/lib/**/*.js
!/lib/**/*.d.ts

